.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

<<<<<<< HEAD
.loading-spinner {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
=======
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.custom-mat-form-field {
  display: contents;
}
>>>>>>> 9c033eae54928134967297c6718ee89cd742b8ff
